{% load static %}
<header class="main-header">
    <!-- Logo -->
    <a href="{% url 'dashboard' %}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>CCOS</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">CCOS</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="user-image" alt="User Image">
                        <span class="hidden-xs">{{ request.user.fullname }}</span>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="/">Visit site</a>
                </li>
                <li>
                    <a
                            data-toggle="tooltip"
                            data-placement="left"
                            title="Logout"
                            href="#">
                        <i class="fa fa-magnet"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
